@import "tachyons-sass/tachyons.scss";
h1,
h2,
h3,
h4,
h5,
h6,
* {
    // @extend .sans-serif;
    @extend .helvetica;
}

#root {
    display: grid;
    grid-template-areas: "content";
    grid-template-rows: auto;
}
